<div class="container">
  <div class="search-box">
    <i class="fa-location-dot fa-solid"></i>
    <input [(ngModel)]="address" type="text" name="address" id="address" placeholder="Enter your location">
    <button (click)="SearchAddressOnClick()" class="fa-magnifying-glass fa-solid"></button>
    <button (click)="GeolocationOnClick()" class="fa-location-crosshairs fa-solid"></button>
  </div>
</div>
<div class="container">
  <app-weather-display [forecast]="forecast"></app-weather-display>
</div>